*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    font-family: Digital-7;
    background-color: black;
}
.container
{
    width: 60%;
    height: 40vh;
    margin-top: 30vh;
    margin-left: 20%;
    
    background-color: black;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #bc13fe,
                0 0 0.8rem #bc13fe,
                0 0 2.8rem #bc13fe,
                inset 0 0 1.3rem #bc13fe;
}

.time
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);

font-size: 100px;
color: #fff;
text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #bc13fe,
  0 0 82px #bc13fe,
  0 0 92px #bc13fe,
  0 0 102px #bc13fe,
  0 0 151px #bc13fe;

}